.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 5.75rem;
  gap: 1.35rem;
}

.log__check {
  display: flex;
  flex-direction: column;
  gap: 1.53rem;
}

.log__input input {
  width: 423px;
  max-width: 423px;
  height: 63px;
  max-height: 63px;
}

.button.submit__log {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  width: 423px;
  max-width: 423px;
  height: 63px;
  max-height: 63px;
}

/* Error */
.form__input--invalid {
  color: red;
}
.form__input--invalid .textForm {
  border: 4px solid red;
  border-radius: 7px;
}
.form__input--invalid .input-message-error {
  display: block;
  color: red;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}
