.product__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.product__list_mod {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-block-start: 2rem;
}

.updel__icons {
  display: flex;
  padding-inline-start: 8rem;
  position: absolute;
}

.updel__icons img {
  max-width: 24px;
  max-height: 24px;
  cursor: pointer;
}
