.product__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.product__list_mod {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
