.header {
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 9.5rem;
}
/* Search Bar */
.top__mainInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-block: 2rem;
  gap: 2rem;
}

.top__img img {
  max-width: 176px;
}

.top__searchBar {
  display: flex;
  align-items: center;
}
.searchBar {
  background-color: var(--black05);
  inline-size: 393px;
  height: 40px;
  max-width: 393px;
  border-radius: 20px;
  border: none;
  padding-inline-start: 1rem;
  box-shadow: 4px 4px var(--black50);
}

.mglass {
  position: absolute;
  max-width: 24px;
  margin-inline-start: 23rem;
}

/* Log In button */

.button.logIn {
  border: 1px solid var(--blue);
  color: var(--blue);
  inline-size: 182px;
}

/* Responsive */

@media (max-width: 360px) {
  .top {
    display: flex;
    justify-content: unset;
    padding-inline: 0;
  }
  .top__img img {
    max-width: 100px;
  }
  .top__mainInfo {
  }
  .searchBar {
    display: none;
  }
  .mglass {
    display: block;
    margin-inline-start: 10rem;
    cursor: pointer;
  }
}
