.products {
  margin-block-start: 4rem;
  margin-inline: 9.5rem;
  max-inline-size: 1132px;
}

.titleProduct {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.divAll {
  display: flex;
  align-items: center;
}
.divAll p {
  cursor: pointer;
  color: var(--blue);
  font-weight: bold;
}
.divAll img {
  cursor: pointer;
  padding-block-start: 3px;
  max-width: 24px;
  max-block-size: 24px;
}
.product__list {
  margin-block-end: 4rem;
}
.specific__products {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.product {
  margin-block-start: 1rem;
}

.product__img img {
  max-inline-size: 176px;
  max-block-size: 174px;
}

.seeProduct__link {
  cursor: pointer;
  color: var(--blue);
  font-weight: bold;
}

/* Responsive */
@media (max-width: 1024px) {
  .products {
    margin-inline: 0.5rem;
  }
  .specific__products {
    display: flex;
    flex-wrap: wrap;
  }
  .product:nth-child(5) {
    display: none;
  }
}
@media (max-width: 500px) {
  .products {
    margin-inline: 0.5rem;
  }
  .specific__products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: fit-content;
  }
  .product {
    margin-block-start: 0px;
  }
  .product__img {
    max-inline-size: 176px;
  }
}
